@font-face {
	font-family: "Apple Kid";
	src: url(/img/apple_kid.otf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
	height: 100%
}
#ness{
	position: absolute;
}
.box, #rootc > p, #rootc > div{
	position: absolute;
	image-rendering: pixelated;
	background-color: black;
	border: 15px solid;
	border-radius: 30px;
	border-image: url(/img/box2.png) 16 round;
	color: white;
}
.selected{
	position: relative;
}
ul a{
	color: #FF00FF
}
a:not([href]){
	cursor: pointer;
	user-select: none;
}
body{
	background-image: url(/img/fourside.png);
	background-size: 759px;
	background-position: bottom right;
	background-repeat: no-repeat;
	image-rendering: pixelated;
	height: 100%;
	font-family: "Apple Kid";
}
ul, #rootc > p{	
	padding: 1vmin 3vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
}
#rootc > p a{
	color: white;
	text-decoration: none;
	min-height: 26%;
	margin: 0 1vmin
}

@media (orientation: landscape){
body{
	font-size: 5vmin;
}
.sub{
	width: 80vmin;
	height: 22vmin;
	top: 4vmin;
	left: 33vmin;
	display: none
}
#money{
	width: 14vmin;
	top: 34vmin;
	text-align: right;
	padding: 2vmin
}
#money img{
	height: 3vmin
}
#rootb, #rootc{
	width: 130vmin;
	height: 100vmin;
	background: transparent;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
#rootb{
	display: none
}
.selected:before{
	content: "";
	position: absolute;
	left: -2vmin;
	background: url("/img/ptr.gif");
	width: 2vmin;
	height: 3vmin;
	top: 0.4vmin;
	background-repeat: no-repeat;
	background-size: contain;
}
ul li{
	display: inline-block;
	min-width: 41%;
	min-height: 5vmin
}
#rootc > div:nth-of-type(7) ul li:nth-child(even){
	min-width: 62%
}
#rootc > div:nth-of-type(7) ul li{
	min-width: 20%
}
#rootc > p{
	width: 29vmin;
	height: 20vmin;
	left: 0vmin;
	top: 4vmin;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: space-between
}
}





@media (orientation: portrait){
body{
	font-size: 10vw;
}
#rootc > p{
	width: 50vw;
	height: 30vw;
	left: 0vw;
	top: 4vw;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: space-between
}
.sub{
	width: 80vmin;
	top: 36vmin;
	left: 0;
	display: none;
}
#money{
	width: 14vmin;
	top: 43vmin;
	text-align: right;
	padding: 2vmin;
	user-select: none;
}
#money img{
	height: 5vmin
}
#rootc{
	width: 82vmin;
	height: 100vmin;
	background: transparent;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 10vmin
}
.selected:before{
	content: "";
	position: absolute;
	left: -3vmin;
	background: url("/img/ptr.gif");
	width: 4vmin;
	height: 5vmin;
	top: 1vmin;
	background-repeat: no-repeat;
	background-size: contain;
}
ul li{
	display: inline-block;
	min-width: 50%;
	padding: 1vmin 0
}
ul{
	padding-bottom: auto
}
#rootc > div:nth-of-type(7) li:nth-child(1){order: 1}
#rootc > div:nth-of-type(7) li:nth-child(3){order: 2}
#rootc > div:nth-of-type(7) li:nth-child(5){order: 3}
#rootc > div:nth-of-type(7) li:nth-child(2){order: 4}
#rootc > div:nth-of-type(7) li:nth-child(4){order: 5}
#rootc > div:nth-of-type(7) li:nth-child(6){order: 6}
#rootc > div:nth-of-type(7) li:nth-child(7){order: 7}
}


ul{
	display: none;
}
.pgo{
	display: flex;
}
.so{
	display: block;
}
.title{
	width: 100%
}