<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/eb.css">
</head>
<body>
<img src="/img/ness4.png" id="ness">
<div id="rootc">
	{{ content }}
	<div class="box" id="money">
		<img src="/img/$.png">
	</div>
</div>
<script>
	function scale(n){
		document.querySelector("#ness").style.height = 22 * n + "px"
		document.querySelector("#ness").style.bottom = 140 * n + "px"
		document.querySelector("#ness").style.right = 186 * n + "px"
		document.body.style.backgroundSize = 759 * n + "px"
	}
	scale(Math.ceil(document.body.clientHeight / 759) + 1);
	
	document.querySelector("#rootc > p a:first-child").classList.add("selected");
	document.querySelectorAll("#rootc > p a").forEach((e, i) => {
		e.removeAttribute("href");
		e.addEventListener("click", () => {
			let cur = document.querySelector(".so");
			let nxt = document.getElementById("rootc").children[i + 2];
			if(cur){
				cur.classList.remove("so")
			}
			if(cur != nxt){
				document.querySelector(".selected").className = "";
				e.classList.add("selected")
				nxt.classList.add("so")
			}
		})
	})
	document.querySelectorAll("ul h1").forEach(e => e.parentElement.classList.add("title"))

	const nitems = window.matchMedia("(orientation: portrait)").matches ? 8 : 8

	document.querySelectorAll("#rootc > ul").forEach(e => {
		var ul = [document.createElement("ul")];
		ul[0].className = "pgo";
		[...e.children].reduce((a, v, i) => {
			if(v.className.includes("title") || v.textContent.length > 39)
				a += 1;
			a += 1;
			if(a % nitems == 0 && v.nextElementSibling){
				let li = document.createElement("li");
				li.textContent = ">>";
				ul[Math.floor(i / nitems)].append(li)
				ul.push(document.createElement("ul"))
				a += 1;
			}
			(ul[Math.floor(a / nitems)] || ul[Math.floor(a / nitems) - 1]).appendChild(v);
			return a;
		}, 0)

		var div = document.createElement("div");
		div.className = "sub"
		div.append(...ul)
		document.getElementById("rootc").append(div);

		e.remove();

		div.addEventListener("click", f => {
			if(f.target.href)
				return;
			let prev = div.querySelector('.pgo');
			prev.classList.remove("pgo");
			if(prev.nextElementSibling)
				prev.nextElementSibling.classList.add("pgo");
			else
				div.firstElementChild.classList.add("pgo");
		})
	})

	document.addEventListener("keydown", e => {
		switch(e.code){
			case "ArrowDown":
			(document.querySelector(".selected").nextElementSibling || document.querySelector("#rootc p a")).click();
			break;
			case "ArrowUp":
			(document.querySelector(".selected").previousElementSibling || document.querySelector("#rootc p").lastElementChild).click();
			break;
			case "ArrowLeft":
			case "ArrowRight":
			case "Escape":
			case "Enter":
			document.querySelector(".selected").click()
		}
	})

	/*
	document.querySelector('a[href="#discord"]').addEventListener("click", e => {
		e.preventDefault();
		e.target.textContent = "Dannums#1071"
		window.getSelection().selectAllChildren(e.target)
		document.execCommand("copy")
		e.target.textContent = "Copied"
	})
	*/
	
</script>
</body>
</html>
